img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}


.sidebar{
	float: left;
    width: 28%;
    height: 100%;
}

h6{
    font-size: 25px;	
}

.payment_text{
	float: left;
	margin-right: 180px;
}

.payment_image{
	float: right;
    margin-left: 10px;
}

.action-button{
	width: 100%;
}