		<div class="form1">
			<h1>BTC Payment <span>Transaction fee may apply</span></h1>
			<img src="assets/img/b2.jpg">
		</div>
		<div class="tit less_margin">This order expire in <em>7:08</em></div>
		<div class="div_part">
			<h1>Amount</h1>
			<h2>273836 BTC</h2>
			<h1>Address</h1>
			<h3>fukvnefidv48464dk</h3>
		</div>
		
		<div class="div_part2">
			<img src="assets/img/barcode.jpg">
		</div>
		<div class="clearfix"></div>
		
		<div class="col-lg-12">
		  <button type="submit" class="next action-button stripebutton">BUY</button>
		</div>